<!DOCTYPE html>
<html lang="en"
      xmlns:th="http:www//org.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Transportation Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<div th:replace="~{common/notesbar :: notesbar}"></div>
<br>
<div class="container">
    <div class="row col-md-10">
        <h2>List of Registered Addresses</h2>
    </div>
    <div class="row">
        <a class="btn btn-dark btn-sm btn-block" th:href="@{/new-address}">New Address</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}"></td>
            <td th:text="${address.name}"></td>
            <td th:text="${address.address}"></td>
            <td th:text="${address.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>