<!DOCTYPE html>
<html lang="en"
      xmlns:th="http:www//org.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Transportation Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link th:href="@{/styles/custom.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<div th:replace="~{common/notesbar :: notesbar}"></div>
<br>

<script th:inline="javascript">
    var addresses = /*[[${addresses}]]*/ [];
    var testNumber = [[${testNumber}]];
    console.log("Html:");
    console.log(addresses);
</script>

<div class="container ">
    <div class="row">
        <div class="col-6 offset-3">
                <form
                        method="post"
                        role="form"
                        th:action="@{/new-note/save}"
                        th:object="${note}"

                >

                    <div class="row">
                            <div class="col-7">
                                <label class="form-label align-bottom" for="sourceNameDropdown">Source</label>
                            </div>
                            <div class="col-5 position-relative" id="relativeDiv">
<!--                                <a class="btn btn-info btn-sm position-absolute top-0 end-0" th:href="@{/new-address}">New Address</a>-->
                            </div>
                    </div>
                        <div class="form-group">

                            <select onchange="setAddressDetails('source')" th:field="*{source}" class="form-control" id="sourceNameDropdown">
                                <option value="Select source address" selected></option>
                                <option th:each="addressItem : ${addresses}" th:value="${addressItem.name}" th:text="${addressItem.name}"></option>
                            </select>

                    </div>
                    <div class="form-group col">
<!--                        <label for="sourceAddress" class="label">Source address</label>-->
                        <input
                                class="form-control"
                                id="sourceAddress"
                                name="sourceAddress"
                                type="text"
                                disabled="disabled"
                        />
                    </div>
                    <div class="form-group col">
<!--                        <label for="sourceComment" class="label">Source comment</label>-->

                        <input
                                class="form-control"
                                id="sourceComment"
                                name="sourceComment"
                                type="text"
                                disabled="disabled"
                        />
                    </div>



                    <div class="form-group col">
<!--                        <label class="form-label" for="destinationNameDropdown">Destination</label>-->
                        <div class="row">
                            <div class="col-7">
                                <label class="form-label align-bottom" for="destinationNameDropdown">Destination</label>
                            </div>
                            <div class="col-5 position-relative">
<!--                                <a class="btn btn-info btn-sm position-absolute top-0 end-0" th:href="@{/new-address}">New Address</a>-->
                            </div>
                        </div>
                        <select onchange='setAddressDetails("destination")' th:field="*{destination}" class="form-control" id="destinationNameDropdown">
                            <option value="Select destination address" selected></option>
                            <option th:each="addressItem : ${addresses}" th:value="${addressItem.name}" th:text="${addressItem.name}"></option>
                        </select>
<!--                        <label for="destinationAddress" class="form-label">Destination address</label>-->
                        <input
                                class="form-control"
                                id="destinationAddress"
                                name="destinationAddress"
                                type="text"
                                disabled="disabled"
                        />
<!--                        <label for="destinationComment" class="form-label">Destination comment</label>-->
                        <input
                                class="form-control"
                                id="destinationComment"
                                name="destinationComment"
                                type="text"
                                disabled="disabled"
                        />
                    </div>


                    <div class="form-group col">
                        <label class="form-label align-bottom" for="dropDownStatusList">Status</label>
                        <select th:field="*{transportStatus}" class="form-control" id="dropDownStatusList">
                            <option value="" disabled selected>Select status</option>
                            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                        </select>
                    </div>

                    <div class="form-group col">
                        <label for="comment" class="form-label align-bottom">Comment</label>
                        <input
                                class="form-control"
                                id="comment"
                                name="comment"
                                placeholder="Optional comments"
                                th:field="*{comment}"
                                type="text"
                        />
<!--                        <p th:errors = "*{firstName}" class="text-danger" th:if = "${#fields.hasErrors('firstName')}"></p>-->
                    </div>

                        <button class="btn btn-primary" type="submit">Save new transport note</button>












                </form>
        </div>
    </div>

</div>

</body>
</html>