<!DOCTYPE html>
<html lang="en"
      xmlns:th="http:www//org.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Transportation Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link th:href="@{/styles/custom.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<div th:replace="~{common/notesbar :: notesbar}"></div>
<br>

<script th:inline="javascript">
    var addresses = /*[[${addresses}]]*/ [];
    var testNumber = [[${testNumber}]];
</script>

<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">New Note</h2>


            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/new-note/save}"
                        th:object="${note}"
                >

                    <div class="form-group mb-3">
                        <label for="dropDownSourceList">Source address name</label>
                        <select onchange="setSourceAddressDetails()" th:field="*{source}" class="form-control" id="dropDownSourceList">
                            <option value="" disabled selected>Select source address</option>
                            <option th:each="addressItem : ${addresses}" th:value="${addressItem.name}" th:text="${addressItem.name}"></option>
                        </select>
                        <label for="sourceAddress" class="form-label">Source address</label>
                        <input
                                class="form-control"
                                id="sourceAddress"
                                name="sourceAddress"
                                type="text"
                                disabled="disabled"
                        />
                        <label for="sourceComment" class="form-label">Source address</label>
                        <input
                                class="form-control"
                                id="sourceComment"
                                name="sourceComment"
                                type="text"
                                disabled="disabled"
                        />
                    </div>



                    <div class="form-group mb-3">
                        <label for="dropDownDestinationList">Destination address name</label>
                        <select th:field="*{destination}" class="form-control" id="dropDownDestinationList">
                        <option value="" disabled selected>Select destination address</option>
                            <option th:each="addressItem : ${addresses}" th:value="${addressItem.name}" th:text="${addressItem.name}"></option>
                    </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="dropDownStatusList">Status</label>
                        <select th:field="*{transportStatus}" class="form-control" id="dropDownStatusList">
                            <option value="" disabled selected>Select status</option>
                            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <input
                                class="form-control"
                                id="comment"
                                name="comment"
                                placeholder="Optional comments"
                                th:field="*{comment}"
                                type="text"
                        />
<!--                        <p th:errors = "*{firstName}" class="text-danger" th:if = "${#fields.hasErrors('firstName')}"></p>-->
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save new transport note</button>
                    </div>












                </form>

            </div>
        </div>

    </div>
</div>


</body>
</html>